*{margin: 0;
padding: 0;
font-family: helvetica;

}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    background-color: white;
    width: 450px;
    min-height: 450px;
    max-height: 650px;
    padding: 2rem;
    border: 3px solid transparent;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.139);
    text-align: center;
}


.inputs-container{
    padding: 1rem;
}

.tarefa-container{
  
    padding: 1rem;
    border-top: 1px solid #888;
    text-align: justify;
    
}

label{
    font-weight:700;
    font-size: 1.2em;
    cursor: pointer;
    
    
}

input[type="text"], input[type="search"],select{
    padding: .30rem;
    border-radius: 5px;
}


.recursos-container{
    padding: 1rem;
    border-top: 1px solid #888;
    display: flex;
    justify-content: space-between;

}

.pesquisar-container, .filtro-container{
    text-align: justify;
}


.lista-tarefas{
    border-top: 1px solid #888;
    padding: 1rem;
}

button{
    font-size: 1.3rem;
    padding: .5rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.btnCancel, .btnCheck, .btnEdit{
    font-size: 1.2rem;
}


li{
 
    list-style-type: none;
    width: 400px;
    display: flex;
    justify-content: space-around;
}


.hide{
    display: none;
}


.list-text > input[type='text']{
    border: none;
    font-size: 1rem;
    
    
}


.checked{
    background-color: green;
    color: white;
    border-radius: 10px;
    text-decoration: line-through;
}